<div class="center-container">

    <h2>Registration</h2>

    <form>
      <div>
        <mat-form-field>
          <input matInput placeholder="Name" [(ngModel)]="user.name" name="name" required>
        </mat-form-field>
      </div>
  
      <div>
        <mat-form-field>
          <input matInput placeholder="Email" [(ngModel)]="user.email" name="email" required email>
        </mat-form-field>
      </div>
  
      <div>
        <mat-form-field>
          <input matInput type="password" placeholder="Password" [(ngModel)]="user.password" name="password" required>
        </mat-form-field>
      </div>
  
      <div>
        <mat-form-field>
          <textarea matInput placeholder="Bio" [(ngModel)]="user.bio" name="bio" rows="4"></textarea>
        </mat-form-field>
      </div>
  
      <div class="center-button">
        <button mat-raised-button color="primary" (click)="register()" class="full-width">Register</button>
      </div>
    </form>
  </div>